.cards {

    @include mq('large') {
        display: grid;
        gap: space('gutter');
        grid-template-columns: repeat(2, 1fr);

        > * {
            position: relative;

            &:nth-child(even) {
                top: -(space('layout'));
            }
        }
    }

    .c-card {
        margin-top: space('gutter') / 2;

        @include mq('large') {
            margin-top: 0;
        }
    }
}
