.wp-block-button {
    color: inherit;

    &__link {
        @include strikeout;
        padding: 0;

        background: transparent;
        color: inherit;
    }

    &.aligncenter {
        margin-top: space('paragraph');
        margin-bottom: space('paragraph');
    }

    &.alignleft,
    &.alignright {
        margin-top: 0.4em;
    }
}
