.wp-block-cover,
.wp-block-cover-image {
    @include no-first-last-margin;
    @include box-shadow;
    @include border-radius;
    @include layout-margin;

    &.alignleft,
    &.alignright {
        margin-top: 0;
    }
}
