.wp-block-gallery {
    @include layout-margin(0.5);

    &.columns-1 {
        // @include no-first-last-margin;

        // > * {
        //     &:last-child {
        //         margin-bottom: 0;
        //     }
        // }
    }

    // Addresses a height issue when using code that modifies the output from
    // WordPress to contain extra markup. Used in webp implementations mostly.
    picture {
        width: 100%;
        height: 100%;
    }

    img {
        @include box-shadow;
        @include border-radius;
    }
}
