.wp-block-image {
    figure {
        margin-top: 0.6em;
    }

    img {
        @include box-shadow;
        @include border-radius;
    }

    &.alignfull {
        @include no-first-last-margin;
    }
}
