.wp-block-pullquote {
    @include no-first-last-margin;
    max-width: 600px;

    padding-top: 0; // Reset gutenberg.css
    padding-bottom: 0; // Reset gutenberg.css
    margin-right: auto;
    margin-left: auto;
    font-size: inherit; // Reset style.css

    &:not(.alignleft):not(.alignright) {
        @include layout-margin;
    }

    blockquote {
        p {
            font-size: inherit !important;
            line-height: inherit;
        }
    }

    &.alignleft,
    &.alignright {
        max-width: 50%;
        // Quote have the layout margin applied. Remove it when floated
        margin-top: 0;
    }
}
