.wp-block-separator {
    @include layout-margin(0.75);

    width: 50%;
    clear: both;

    &.is-style-wide {
        width: 100%;
    }

    &.is-style-dots {
        margin-right: auto;
        margin-left: auto;

        &::before {
            padding-left: 0;
        }
    }
}
