.c-card {
    --transform: 0;

    @include box-shadow;
    @include border-radius;

    position: relative;
    z-index: 1;
    padding-top: 100%;
    background: color('white');
    color: color('white');
    transform: translateY(var(--transform));
    transition: transition(transform, box-shadow);
    will-change: opacity box-shadow;

    @include interact {
        @include box-shadow($opacity: 0.5);

        &::after {
            opacity: 0;
        }

        img {
            transform: scale(1.2);
        }
    }

    // The gradient over the image
    &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, transparent 20%, color('black') 80%);
        content: '';
    }

    // This is the border. Its a psuedo element so we can transition the opacity
    // from nothing to a color and have the picture behind it
    &::after {
        @include border-radius;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: $base-border-thickness * 2 solid color('pink');
        content: '';
        transition: transition(opacity);
    }

    &__inner {
        @include no-first-last-margin;

        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        padding: space('gutter');
    }

    &__heading {
        @include heading('h4');

        margin-bottom: 0;

        a {
            &::before {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
            }
        }
    }

    &__meta {
        order: -1;
        font-size: $base-small-size;
    }

    &__content {
        @include no-first-last-margin;
    }

    &__media {
        position: absolute !important;
        z-index: -2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            transition: transition(transform);
        }
    }

    // Loop the colors and apply them to the border
    @each $index, $color in $neon-colors {
        &:nth-child(#{length($neon-colors)}n + #{$index}) {
            background-color: $color;

            &::after {
                border-color: $color;
            }
        }
    }
}
