body {
    $vertical-padding: space('layout');

    @include padding-top($vertical-padding);
    @include padding-bottom($vertical-padding);
    @include font-size($base-font-size);
    @include container;

    width: width('normal');
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    @include mq('large') {

        display: flex;
        align-items: flex-start;

        .header {
            @include margin-right(space('layout'));

            position: sticky;
            top: $vertical-padding;
            flex-shrink: 0;
        }

        .content {
            flex-grow: 1;
        }
    }
}
