html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

// ----------------------------------------------
// Fix a webkit bug
// ----------------------------------------------
details {
    textarea {
        box-sizing: border-box;
    }
}
