code {
    @include box-shadow;

    display: inline-block;
    padding: 0 0.25em;
    background: color('black');
    border-radius: $base-border-radius;
    color: color('white');
    user-select: all;
    vertical-align: baseline;

    &::selection {
        background: color('grey');
        color: color('black');
    }
}
