::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
}

fieldset {
    border: 1px solid currentColor;

    legend {
        padding-right: space('paragraph') / 2;
        padding-left: space('paragraph') / 2;
    }
}

label {
    display: inline-block;
    margin-bottom: $label-spacing;
}

// ----------------------------------------------
// We explicitly target each field type as input
// element is to specific
// ----------------------------------------------
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    @include input;
}

// [1] Disable browser styling of select fields
select {
    @if $input-custom-select==true {
        @include input;

        appearance: none; // [1]
    }
}

// [1] Webkit hack to change autofill background
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px $input-background inset; // [1]
}

textarea,
[multiple] {
    height: $textarea-height;
    min-height: $textarea-height;
    resize: vertical;
}

[disabled] {
    pointer-events: none;
}
