html {
    --rotate: 0deg;
    --scale: 0;

    @include alias-text;
    @include var(background-color, background);
    @include var(color, foreground);

    font-family: $base-font-family;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    scroll-behavior: smooth;

    &::before {
        @media (prefers-color-scheme: light) {
            position: fixed;
            z-index: -2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: color('grey');
            content: '';
            transform: scaleY(var(--scale));
            transform-origin: 0 0;
            will-change: transform;
        }
    }
}

// @each $name, $theme in $themes {
//     .theme-#{$name} {
//         @each $key, $value in $theme {
//             --#{$key}: #{$value};
//         }
//     }
// }
