table {
    width: 100%;
    border-collapse: collapse;

    caption {
        margin-bottom: space('paragraph') / 2;
        text-align: center;
    }
}

thead {
    border-bottom: 1px solid currentColor;
}

tr {
    border-bottom: 1px solid currentColor;

    &:last-child {
        border-bottom: 0;
    }
}

td,
th {
    padding: 0.25rem 0.5rem;
    border-right: 1px solid currentColor;

    &:last-child {
        border-right: 0;
    }
}

th {
    font-weight: inherit;
    text-align: inherit;
}

tfoot {
    tr {
        border-top: 1px solid currentColor;
    }
}
