// ---------------------------------------------------
// Colors
// ---------------------------------------------------
$colors: (
    'black': #000,
    'grey': #f5f5f5,
    'white': #fff,
    'pink': #ff1493,
    'green': #39ff14,
    'blue': #15f4ee,
    'orange': #fd5f00,
);

$neon-colors: (
    1: color('pink'),
    2: color('green'),
    3: color('blue'),
    4: color('orange'),
);

$themes: (
    light: (
        background: color('white'),
        foreground: color('black'),
    ),
    dark: (
        background: color('black'),
        foreground: color('white'),
    ),
    blue: (
        background: #e0e1dd,
        foreground: #0d1b2a,
    )
);

// Defines the default theme to use when outputting backwards compatible code
$default-theme: light;
