// Forms: input fields
$input-background: transparent;
$input-border-thickness: 0;
$input-border-color: currentColor;
$input-color: inherit;
$input-custom-select: true;
// $input-gap: space('paragraph') / 2;
$input-padding: 0;
$input-placeholder-color: currentColor;
$input-radius: 0;

// Forms: other
$form-error-message-color: color('black');
$label-spacing: space('paragraph') / 4;
$textarea-height: 100px;
