// Base settings
$base-background: color('white');
$base-color: color('black');
$base-font-family: brandon;
$base-font-weight: 400;
$base-font-size: 30px;
$base-line-height: 1.7;
$base-small-size: 80%;
$base-border-radius: 0.5em;
$base-border-thickness: 5px;
$base-bold-weight: 700;
$base-darken-percent: 10%;

// Box Shadow
$box-shadow-horizontal: 0;
$box-shadow-vertical: 0;
$box-shadow-blur: 0.5em;
$box-shadow-spread: 0;
$box-shadow-color: $base-color;
$box-shadow-opacity: 0.1;

// Links
$link-color-base: inherit;
$link-color-hover: color('pink');

// Headings
$heading-color: inherit;
$heading-font-family: inherit;
$heading-line-height: 1.1;
$heading-font-weight: bold;
$heading-sizes: (
    'h1': 60px,
    'h2': 52px,
    'h3': 45px,
    'h4': 40px,
    'h5': 35px,
    'h6': 30px,
);

// Horizontal rule
$hr-thickness: 1px;
$hr-color: currentColor;

// Selection
$selection-background: color('black');
$selection-color: color('white');

// Transitions
$transition-time: 0.15s;
$transition-ease: ease-out;
