// This applies styling to all

.single-js-folio {
    $bar-size: 30px;
    $bar-dot-size: 8px;

    .wp-block-gallery.columns-1 {
        figure {
            @include box-shadow;
            @include border-radius;

            position: relative;
            display: block !important; // Overriding Gutenberg
            overflow: hidden;

            &::before {
                display: block;
                padding-top: $bar-size;
                background: color('grey');
                content: '';
            }

            &::after {
                position: absolute;
                top: ($bar-size / 2) - ($bar-dot-size / 2);
                left: ($bar-size / 2) - ($bar-dot-size / 2);
                width: $bar-dot-size;
                height: $bar-dot-size;
                background: #ed594a;
                border-radius: 50%;
                box-shadow:
                    $bar-dot-size * 2 0 0 #fdd800,
                    $bar-dot-size * 4 0 0 #5ac05a;
                content: '';
            }

            img {
                width: 100% !important; // Overriding Gutenberg
                border-radius: 0;
                box-shadow: none;
            }
        }
    }
}
