.gform_wrapper {
    ul {
        @include list-reset;
    }
}

.gfield {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 0.25em;
    border-bottom: 2px solid currentColor;
    margin-bottom: space('paragraph') * 1.5;

    &_error {
        padding-bottom: 0;
        border-bottom: 0;

        .gfield_description {
            border-top-color: color('pink');
        }
    }
}

.gfield_label {
    margin-right: space('gutter') / 2;
    margin-bottom: 0;
    font-weight: bold;
    white-space: nowrap;

    &::after {
        content: ':';
    }
}

.gfield_description {
    width: 100%;
    padding-top: 0.25em;
    border-top: 2px solid currentColor;
    margin-top: 0.25em;
    font-size: $base-small-size;
}

.ginput_container {
    flex-grow: 1;
}

.gfield_required {
    @include screen-reader;
}

.gfield-type-checkbox,
.gfield-type-radio {
    .ginput_container {
        ul {
            @include mq('large') {
                @include make-row;

                justify-content: space-between;
            }
        }

        li {
            @include mq('large') {
                @include make-column;
            }

            @each $index, $color in $neon-colors {
                &:nth-child(#{length($neon-colors)}n + #{$index}) {
                    label {
                        &::before {
                            background: $color;
                        }
                    }
                }
            }
        }

        input {
            display: none;

            &:checked + label {
                @include strikeout-active;
            }

            &:not(:checked) + label {
                &:hover {
                    @include strikeout-interact;
                }

            }
        }

        label {
            @include strikeout;

            margin-bottom: 0;
        }
    }
}
