@mixin box-shadow($multiplier: 1, $color: $box-shadow-color, $opacity: $box-shadow-opacity) {
    @if
        strip-unit($box-shadow-horizontal) != 0
        or strip-unit($box-shadow-vertical) != 0
        or strip-unit($box-shadow-blur) != 0
        or strip-unit($box-shadow-spread) != 0 {
        box-shadow:
            $box-shadow-horizontal * $multiplier
            $box-shadow-vertical * $multiplier
            $box-shadow-blur * $multiplier
            $box-shadow-spread * $multiplier
            rgba($color, $opacity);
    }
}
