@charset "UTF-8";

/// Generate heading styling with attributes and sizes. References the headings
/// map for sizing
///
/// @param {string} $size - The heading to generate styling for
///
/// @example scss
///    @include heading(h1);
///
/// @access public

@mixin heading($heading) {
    @include heading-attributes;
    @include heading-size($heading);
}

/// Generate heading attributes (without sizes).
/// For improved default usability, links within heading attribute elements have
/// had their styling reset to inherited.
///
/// @example scss
///    @include heading-attributes;
///
/// @access public

@mixin heading-attributes {
    // margin-top: space('paragraph') * 1;
    // margin-bottom: space('paragraph') * 0.5;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;

    // Make a tags that are children of headings inherit styling
    a {
        color: inherit;
        text-decoration: none;
    }

    @if $heading-color != inherit {
        color: $heading-color;
    }
}

/// Generate heading sizes. References the headings map for sizing
///
/// @param {string} $size - The heading to generate styling for
///
/// @example scss
///    @include heading-size(h1);
///
/// @access public

@mixin heading-size($heading) {
    @include font-size(heading-size($heading, true));
}
