@mixin layout-padding-top($multiplier: 1) {
    @include padding-top(space(layout) * $multiplier);
    // padding-top: space(layout) * $multiplier;
}

@mixin layout-padding-bottom($multiplier: 1) {
    @include padding-bottom(space(layout) * $multiplier);
    // padding-bottom: space(layout) * $multiplier;
}

@mixin layout-margin-top($multiplier: 1) {
    @include margin-top(space(layout) * $multiplier);
    // margin-top: space(layout) * $multiplier;
}

@mixin layout-margin-bottom($multiplier: 1) {
    @include margin-bottom(space(layout) * $multiplier);
    // margin-bottom: space(layout) * $multiplier;
}

@mixin layout-margin-pull($multiplier: 1) {
    @include margin-top(-(space(layout) * $multiplier));
    // margin-top: -(space(layout) * $multiplier);
}

@mixin layout-padding($multiplier: 1) {
    @include layout-padding-top($multiplier);
    @include layout-padding-bottom($multiplier);
}

@mixin layout-margin($multiplier: 1) {
    @include layout-margin-top($multiplier);
    @include layout-margin-bottom($multiplier);
}
