@charset "UTF-8";

/// Helper function to retrieve a heading size defined in variables.
/// Returns an em font size for consistency.
/// Useful for removing random font sizes used in the code base
///
/// @param {string} $size - The name of the heading as defined in the sass map
///
/// @example scss
///     font-size: heading-size('h1');
///
/// @access public

@function heading-size($size, $raw: false) {
    @if map-has-key($heading-sizes, $size) == false {
        @error 'Heading not defined: `#{$size}`';
    }

    @if $raw {
        @return map-get($heading-sizes, $size);
    } @else {
        @return em(map-get($heading-sizes, $size));
    }
}
