.header {
    @include layout-margin-bottom;

    text-align: center;

    &__logo {
        @include margin-bottom(space('layout') / 2);

        display: inline-block;
        width: 70vw;

        @include mq('large') {
            @include rfs(300px, max-width);

            margin-top: -1em;
        }
    }

    a {
        @include strikeout;
    }

    // ---------------------------------------------------
    // Represents the wrapper around the main menu
    // ---------------------------------------------------
    &__navigation {
        margin-right: -(space('gutter') / 2);
        margin-left: -(space('gutter') / 2);

        // ---------------------------------------------------
        // Target all lists in the menu
        // ---------------------------------------------------
        ul {
            @include list-reset-hard;
        }

        li {
            @each $index, $color in $neon-colors {
                &:nth-child(#{length($neon-colors)}n + #{$index}) {
                    a {
                        &::before {
                            background: $color;
                        }
                    }
                }
            }
        }

        .current-menu-item {
            > a {
                @include strikeout-active;
            }
        }
    }

    &__menu {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        // scroll-snap-type: x mandatory;
        text-align: center;
        white-space: nowrap;

        @include mq('large') {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        li {
            display: inline-block;
            margin-right: space('gutter') / 2;
            margin-left: space('gutter') / 2;
            // scroll-snap-align: center;

            @include mq('large') {
                margin-right: 0;
                margin-bottom: 0.25em;
                margin-left: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        a {
            display: block;
        }
    }
}


.single-js-folio {
    .menu-item-object-js-folio {
        > a {
            @include strikeout-active;
        }
    }
}
