@mixin blockquote {
    @include no-first-last-margin;
    @include layout-margin(0.75);
    @include box-shadow;
    @include border-radius;

    padding: space('paragraph');
    margin-right: 0;
    margin-left: 0;
    background: color('white');
    text-align: center;

    :not(cite) {
        font-style: italic;

        &:last-of-type {
            &:not(:last-child) {
                margin-bottom: 0.5em;
            }
        }
    }

    cite {
        font-size: $base-small-size;
        font-style: normal;

        &::before {
            display: inline-block;
            width: 1em;
            height: 1px;
            margin-right: 0.5em;
            background: currentColor;
            content: '';
            vertical-align: middle;
        }
    }
}
