@mixin default-button {
    @include button;
    @include button-color(
        $text: color('black'),
        $background: transparent,
        $border: color('black')
    );
}

@mixin button {
    @include button-color;

    display: inline-block;
    padding: 0.075em 0.5em 0.15em;
    border: 1px solid;
    border-radius: $base-border-radius;
    font-size: inherit;
    pointer-events: cursor;
    text-align: center;
    text-decoration: none; // Remove the underline if this is an a tag
    transition: transition(background-color, border-color, color);
    vertical-align: middle; // Removes line height issues with inline-block
}

@mixin button-color(
    $text: color('black'),
    $background: transparent,
    $border: color('black')
) {
    border-color: $border;
    background-color: $background;
    color: $text;
}
