@mixin input {
    @include no-focus;

    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none; // Fix iOS inconsistencies
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    transition: transition(border-color);
}
