@mixin strikeout {
    position: relative;
    z-index: 1;
    text-decoration: none;

    @include interact {
        @include strikeout-active;
    }

    &::before {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        width: calc(100% + calc(#{space('gutter')}));
        height: 0.25em;
        background: color('pink');
        border-radius: 9999px;
        content: '';
        transform: translateX(-50%) translateY(-50%) rotate(-5deg) scaleX(0);
        transition: transition(transform);
    }
}

@mixin strikeout-active {
    color: inherit;

    &::before {
        transform: translateX(-50%) translateY(-50%) rotate(-5deg) scaleX(1);
    }
}

@mixin strikeout-interact {
    color: inherit;

    &::before {
        transform: translateX(-50%) translateY(-50%) rotate(-5deg) scaleX(0.5);
    }
}


